<div class="md:px-20 pt-8 w-full h-full min-h-screen flex justify-center items-center">
    <form class="py-8 flex w-full max-w-768" method="post" action="{{loginPath}}" enctype="multipart/form-data">
        <input class="flex-grow mr-2 border border-gray-300 pl-4 rounded" id="emailInput" name="email" placeholder="Your Email" type="email">
        <button class="rounded text-white  primary-purple-bg py-4 text-sm font-light w-100" type="submit">Log In</button>
    </form>
</div>