<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My API</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .max-w-768 {
            max-width: 768px;
        }
        .w-100 {
            width: 100px;
        }
        .primary-purple {
            color: #6C63FF;
        }
        .primary-purple-bg {
            background-color: #6C63FF;
        }
        .primary-purple-bg:hover {
            background-color: #5950ff;
        }
    </style>
</head>
<body class="min-h-screen">

    {{{body}}}

</body>
</html>